@font-face {
    font-family: 'Gilroy';
    src: local('O'), url('../fonts/Gilroylight.ttf') format('truetype'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroyextrabold.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: local('0'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


*, *::after, *::before {
	box-sizing: border-box;
	font-family: "Gilroy", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	color: #1C1C1C;
	overflow: hidden;
}

input:focus, textarea:focus {
	outline: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 40px;
}

/* -------header------ */
.header {
	margin-top: 60px;
	text-align: left;
	display: flex;
	align-items: center;
	margin-bottom: 48px;
}

.header__data {
	font-size: 28px;
	font-weight: 800;
	line-height: 41px;
}

.header__btn {
	margin-left: auto;
	width: 86px;
	height: 24px;
	background: #F2F2F2;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	line-height: 22px;
	cursor: pointer;
}

/* -------main----- */

.main {
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}

.task {
	display: flex;
	margin-bottom: 30px;
	align-items: center;
	cursor: pointer;
}

/* -----check-list--------- */

.checkbox {
	display: none;
}

.checkbox:checked~.task__text{
	color: rgba(0, 0, 0, 0.6);
}

 .task__circle {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	margin-right: 14px;
	display: block;
}

.task__circle_check {
	border: 2px solid #D9D9D9;
	position: relative;
}

.task__circle_check::after {
	position: absolute;
	content: "";
	width: 12px;
	height: 12px;
	border-radius: 50%;
    top: 3px;
	left: 3px;
	transition: all 0.1s linear 0s;
}

.checkbox:checked~.task__circle_check::after {
	background-color: #23A3FF;
}

/* -----del-task------- */

.task__circle_del-task {
	background: #E85C5C;
	text-align: center;
	transition: all 0.3s linear 0s;
}

.task__circle_del-task::after {
	content: '-';
	color: #FFFFFF;
	font-weight: 600;
}

/* ------add task button------------- */

.main__btn-add {
	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #FFFFFF;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	color: #23A3FF;
	font-size: 53px;
	text-align: center;
	right: 40px;
	bottom: 40px;
	cursor: pointer;
}

/* ------popup------- */

.popup {
	position: absolute;
	width: 100%;
	height: calc(100% - 149px);
	left: 0px;
	top: 149px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 40px 40px 0px 0px;
	padding: 40px 0 0 0;
	text-align: center;
	font-size: 0;
	transition: all 0.3s linear 0s;
	transform: translateY(0%);
}

.popup__inp {
	width: 100%;
	border: 2px solid #E6E6E6;
	border-radius: 10px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	color: #333333;
	padding: 20px;
}

.popup__inp_add-task {
	height: 160px;
	resize: none;
}

.popup__inp_edit-task {
	height: 50px;
}

.btn {
	width: 137px;
	height: 40px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
	line-height: 38px;
}

.popup__btn-close {
	background: #F2F2F2;
    margin-right: 21px;
}

.popup__btn-add-save {
	background: #23A3FF;
	color: #FFFFFF;
}

/* -----classes hide--------- */

.hide {
	display: none;
}

.hide-popup {
	transform: translateY(100%);
}

/* -----media popup------- */

@media screen and (min-width: 1400px) {
	.popup {
		width: 800px;
		height: 350px;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
		border-radius: 40px;
		transform: translate(-50%, 0%);
		transition: all 0.5s ease 0s;
		left: 50%;
	}

	.hide-popup {
		transform: translateY(500%);
	}
}