mixin main(props)
    main(data-barba="container" data-barba-namespace="index").main
        p.main__empty-list.hide Список задач пуст
        .main__tasks
            +task([
                'Пройти стажировку в Онли',
                'Побриться',
                'Купить молоко',
                'Не забыть забрать сына из садика',
                'Купить сыр'
            ])
    .main__btn-add +

//- мне пока не понятно, как именно работает barba, но без нее вылетает ошибка в js, так что оставила пока такую запись в блоке main
//- т.к. barba применяет свои стили, то кнопу добавления записи пришлось делать вне блока main, чтобы она фиксировалась относительно окна,
 но название оставила прежнее, чтобы было понятно, к чему она относится

